body{
    font-style:unset;
    width: 1200px;
    background-image: url(alpha/img1.jpg);
    border: 1px 2px 2px 5px  solid black;
}
.diallo{
    margin: 250px;
    padding: 125px;
    margin-top: 30px;
    width: 600px;
    height: 300px;
    
}
.laye img{
    
    margin-bottom: 0px;
    width: 300px;
    height: 380px;
    border: 2px solid brown;

}

#llo{
    width: 650px;
    height: 410px;
    background-color: #fff;
    display: flex;
    border: 1px solid black;

}
.laye2{
    padding: 10px;
    margin-top: 5px;
    margin-left: 15px;
   
}

.laye2 input{
    border: none;
    border-bottom: 1px solid black;
    width: 300px;
    background-color: #0a0a23;
    height: 0px;
    margin-bottom: 15px;
    color: wheat;


}
.laye2 label{
    padding-bottom: 0;

}
.bamba{
    margin: 250px;
    padding: 125px;
    margin-top: 30px;
}
#di button{
    margin: 110px;
    padding: 10px;
    margin-top: 5px;
    border: none;
    background-color: #0a0a23;
    color: wheat;
}
form span{
    float: right;
}


